{% include base_path %}

<!-- start custom head snippets -->
<style>
/* Change the background color of the entire header bar */
.masthead {
  background-color: #f0f0f0;  /* Replace with your desired color */
}

/* Optional: Change the color of the navigation links */
.masthead a {
  color: #333;  /* Dark gray text */
}

/* Optional: Change link color on hover */
.masthead a:hover {
  color: #007bff;  /* Blue on hover */
}
.author__nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}
.author__nav li {
  margin-bottom: 0.3rem;
}
.author__nav a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.2rem 0;
}
.author__nav a:hover {
  color: #007bff;
}
</style>


<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
